In [1]:
a = 10
if a == 10 :
    print("this is my first condition")

this is my first condition

In [2]:
a = 10
if a == 11 :
    print("this is my first condition")

In [3]:
a = 10 
if a > 5 :
    pass

In [4]:
a = 10 
if a > 8 :
    print( "print this if condition is true")

print this if condition is true

In [5]:
a = 10 
if a < 8 :
    print( "print this if condition is true")

In [6]:
a = 10 
if a != 11 :
    print("my condition is false")
else :
    print("print this")

my condition is false

In [7]:
a = 10 
if a == 11 :
    print("my condition is false")
else :
    print("print this")

print this

In [8]:
a = 10 
if a == 12:
    print("we are trying to compare 10 with 12")
elif a == 11:
    print("we trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [9]:
a = 10 
if a == 12:
    print("we are trying to compare 10 with 12")
elif a == 10:
    print("we trying to compare 10 with 11")
else :
    print("if all the blocks will fail then do this")

we trying to compare 10 with 11

In [10]:
price = 500
if price > 500 :
    print("i wont be able to buy a t-shirt")
elif price < 500 :
    print("i will be able to buy a t-shirt")

In [11]:
price = 500
if price > 500 :
    print("i wont be able to buy a t-shirt")
elif price <= 500 :
    print("i will be able to buy a t-shirt")

i will be able to buy a t-shirt

In [12]:
price = 500
if price > 500 :
    print("i wont be able to buy a t-shirt")
elif price < 500 :
    print("i will be able to buy a t-shirt")
else price == 500 :
    print("i dont know")

SyntaxError: invalid syntax (476508646.py, line 6)

In [ ]:
price = 500
if price > 500 :
    print("i wont be able to buy a t-shirt")
elif price < 500 :
    print("i will be able to buy a t-shirt")
elif price == 500 :
    print("for sure i will be able to buy")
else :
    print("i dont know")

In [ ]:
price < 500

In [ ]:
price > 500

In [ ]:
l = [1,2,3,4,5,6]
2 in l

In [ ]:
if 2 in l:
    print("try to perform a task")
else :
    print("do not perform task")

In [ ]:
60 in l

In [ ]:
l

In [ ]:
if 1 in l :
    print (" try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")

In [ ]:
if 10 in l :
    print (" try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")

In [ ]:
if 1 in l :
    print (" try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print(" this is a new statement")

In [ ]:
 a = 400

In [ ]:
b = input()

In [ ]:
b

In [ ]:
b = input()

In [ ]:
type(b)

In [ ]:
b = int(input())

In [ ]:
b = int(input())

In [ ]:
type(b)

In [ ]:
c = int(input())
if c < 500 :
    print("i will be able to buy something")

In [ ]:
c

In [ ]:
price = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will bd able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont to  able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

In [ ]:
price = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will bd able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont to  able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

In [ ]:
price = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will bd able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont to  able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

In [ ]:
price = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will bd able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i wont to  able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

In [ ]:
price = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will bd able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    if price < 200 :
        print(" i would like to do something")
    else :
        print("i wont to  able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")

In [ ]:
price = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400 :
        print("i will bd able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    if price < 200 :
        print(" i would like to do something")
    else :
        print("i wont to  able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")
    if price > 500 :
        print("lets try something else")

In [ ]:
marks = int(input()) 
if marks > 600 :
    print("will get GRE")
    if marks < 600 :
        print("no GRE")
    elif marks < 500 :
        print("this is something else")
else :
    print("will get jrf")
    if marks > 500 :
        print("will get toffel")

In [ ]:
marks = 600 
if marks > 600 :
    print("will get GRE")
    if marks < 600 :
        print("no GRE")
    elif marks < 500 :
        print("this is something else")
else :
    print("will get jrf")
    if marks > 500 :
        print("will get toffel")

In [ ]:
val = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number")
else :
    print("entered number is negative number")

In [ ]:
val = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number")
else :
    print("entered number is negative number")

In [ ]:
val = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number")
else :
    print("entered number is negative number")

In [ ]:
val = float(input("enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number")
else :
    print("entered number is negative number")

In [ ]:
a = 10 
if a <= 10 :
    print("try to do something")

In [ ]:
a = 10 
if a < 10 or a == 10 :
    print("try to do something")

In [ ]:
a = 10 
if a < 10 or a > 10 :
    print("try to do something")

In [ ]:
a = 10 
if a < 10 and a == 10 :
    print("try to do something")

In [ ]:
a = 10 
if a <= 10 and a == 10 :
    print("try to do something")

In [ ]:
a = "vish"
if a == "vish" and a == "vish":
    print("this is vish")

In [ ]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13:
    print("lets do something")

In [ ]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d== 13:
    print("lets do something")

In [ ]:
d = {"key1" : "value" , "key2" : "vish" , "key3" : "patil"}

In [ ]:
if d['key1'] == "value" and d['key2'] == "vish" and d['key3'] == 'patil':
    print("all the values are verified")
    print(d.values())

In [ ]:
d['key1']

In [ ]:
if d['key1'] == "value" and d['key2'] == "Vish" and d['key3'] == 'patil':
    print("all the values are verified")
    print(d.values())
else :
    print("all the values are not verified")

LOOP INTRuduction

In [13]:
l = [1,2,3,4,5,"vish", 345.56]

In [14]:
l[2]

3

In [15]:
l[1:4]

[2, 3, 4]

In [16]:
l

[1, 2, 3, 4, 5, 'vish', 345.56]

In [17]:
for i in l:
    print("i")

i
i
i
i
i
i
i